body{
    background-color: black;
}
p{
    text-align: center;
    font-size: large;
}

#volgende:hover{
background-color: transparent;
}
.starter{
    color: rgb(255, 255, 255);
}
.kamer1{
    text-align: center;
    width: 1920px;
    height: 818px;
    float: left;
}
button:hover{
    background-color: transparent;
}

img{
    width: 1840px;
    height: 820px;
}